<html>
  <head>
    <title>PlayPlay.io - Update Credit Card</title>
    <%= partial 'public/partials/_head.html' %>
    <%
      game = Game.where(name: request['game']).first
      team = game && game.teams.where(team_id: request['team_id']).first
      stripe_token = request['stripeToken']
      stripe_token_type = request['stripeTokenType']
      stripe_email = request['stripeEmail']
    %>
  </head>
  <body style='text-align: center'>
    <p style='margin: 50px;'>
      <a href='/'><img src='img/<%= game ? game.name : 'pong' %>.png' width='120px'></a>
    </p>
    <p>
      <h3>PlayPlay.io: Update Credit Card Info</h3>
    </p>
    <p id='messages' />
    <p id='update_cc'>
      <form action="" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= ENV['STRIPE_API_PUBLISHABLE_KEY'] %>"
          data-image='/img/<%= game ? game.name : 'pong' %>.png'
          data-name="Playplay.io"
          data-panel-label="Update Credit Card"
          data-label="Update Credit Card"
          data-allow-remember-me=false
          data-locale="auto">
        </script>
      </form>
      <p>
        <img src='/img/stripe.png' width='119' height='26'></img>
        <div class='small'>
          Questions? Contact dblock[at]dblock[dot]org or DM <a href='https://twitter.com/playplayio'>@playplayio</a>.
        </div>
      </p>
      <%= partial 'public/partials/_scripts.html' %>
      <script>
        $(document).ready(function() {
          var data = {
            stripe_token: "<%=h stripe_token %>",
            stripe_token_type: "<%=h stripe_token_type %>",
            stripe_email: "<%=h stripe_email %>",
            team_id: "<%= team.id %>"
          };

          var team = {
            id: "<%= team && team.team_id %>",
            game: <%= JSON::generate(ERB::Util.html_escape(game && game.name)) %>,
            name: <%= JSON::generate(ERB::Util.html_escape(team && team.name)) %>,
          };

          PlayPlay.message('Update credit card for team <b>' + team.name + '</b>.');

          if (data.stripe_token && data.stripe_token.length > 0) {
            $.ajax({
              type: 'POST',
              url: '/api/credit_cards',
              data: data,
              success: function(data) {
                PlayPlay.message('Successfully updated team <b>' + team.name + '</b> credit card for <b>' + team.game + '</b>.<br>Thank you!');
                $('form').remove();
              },
              error: PlayPlay.error
            });
          } else if (!data.team_id || data.team_id.length == 0) {
            PlayPlay.errorMessage("Team not found.")
            $('form').remove();
            $('#update_cc').hide();
          }
        });
      </script>
    </p>
  </body>
</html>
